{% extends './base.html' %}
{% load static %}
{% load thumbnail %}

 {% block content %} 

  <section>
    <div class="container">
      <div class="col-lg-9 col-sm-12">
        <div class="well row">

          <h3>Bienvenido!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab, adipisci tempora velit mollitia est consequuntur laborum, ratione delectus quis iure, hic veritatis eligendi molestiae. Fugit porro dignissimos, sequi quam?</p>
          <p class="text-right"><button class="btn btn-primary btn-lg">Inscribete!</button></p>
        </div>
        <div class="row">
          {% for noticias in destacada %}
          <div class="col-lg-4 aside">
            <div class="row">
              <div class="col-sm-4 col-lg-12">                
                <img src="{{ noticias.imagen.url }}" alt="" class="img-thumbnail">
              </div>
              <div class="col-sm-8 col-lg-12">            
                <h4>{{noticias.titulo}}</h4>
                <p class="text-justify">{{noticias.contenido | truncatewords:20 }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="col-lg-8">
            <div class="row">
             {% for noticias in posts %}
              <div class="col-xs-6 col-sm-4">
                  <img src="{{ noticias.imagen.url }}" alt="" class="img-responsive img-thumbnail">
                <p><a href="detalle/{{noticias.id}}">{{noticias.titulo}}</a></p>
                <p><span class="label label-info">{{noticias.categoria | truncatewords:20 }}</span></p>
              </div>
              {% endfor %}
              </div>
            </div>
            </div>
          </div>
      <div class="col-lg-3 visible-lg">
        <img src="http://placehold.it/400x800" alt="" class="img-responsive">
      </div>
    </div>
  </section>
      {% endblock %}
